{% extends "layout.html" %}

{% block title %}
    Remove Income
{% endblock %}

{% block main %}
    <h1> Remove Income </h1>
    <div class="form-box">
        <form id="removeIncomeForm" action="{{ url_for('remove_income') }}" method="post">
            <select class="form-control mx-auto w-auto" id="income_name" name="income_name">
                <option value="" disabled selected>Income Name</option> <!-- Placeholder option -->
                {% for income in incomes %}
                    <option value="{{ income.name }}">{{ income.name }}</option> <!-- Options from existing incomes -->
                {% endfor %}
            </select>
            <button class="btn btn-primary mt-3" id="remove-income-button" type="submit">Remove Income</button>
        </form>
    </div>
{% endblock %}
